body
{
	background-color: #272822;
	color:#E8E8E8;
	font-family: monospace;
	margin: 0;
}

.start
{
	text-align: center;
}

.port-wrapper
{
	display: table;
	margin: 0 auto;
}
.port-wrapper h2
{
	margin-bottom: 0;
}

.portifolio
{
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 250px;
	border-radius: 4px;
	border: 1px solid #FFFFFF;
	vertical-align: top;
}

.portifolio h3
{
	text-align: center;
	margin: 0;
}
.portifolio h4
{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

.portifolio h3 a
{
	text-decoration: none;
}

h1
{
	font-weight: normal;	
}
h2
{
	font-weight: normal;		
}
a
{
	color:#4CCDE6;
}
a:hover
{
	color:#B0ECF7;
}
p
{
	margin: 0;
	margin-left: 2px;
	margin-right: 2px;
}

footer h3
{
	margin-left: 8px;
	margin-bottom: 2px;
}
footer p, footer a
{
	margin-left: 12px;
}